<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <!-- navbar -->
    <%- include('navbar') %>
        <!-- form-->
        <div class="container d-flex flex-column align-items-center basket-page-style " style="height: 88vh;">
            <div class="row col-12">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <label for="sign-in">
                        <h2>My tickets :</h2>
                    </label>

                    <div class="table-responsive"></div>
                        <table class="table table-borderless bg-white text-dark tab-style">
                                <thead>
                                  <tr>
                                    <th scope="col">N°</th>
                                    <th scope="col">Journey</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Departure time</th>
                                    <th scope="col">Price</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% var total =0; i = 1;
                                  for (element of tableau) {%>
                                  <tr>
                                    <th scope="row"><%=i++%></th>
                                    <td><%=element.departure%> / <%=element.arrival%></td>
                                    <td><%=new Date(element.date).toLocaleDateString()%></td>
                                    <td><%=element.departureTime%> pm</td>
                                    <td><%=element.price%> €</td>
                                  </tr>
                                  <%total += element.price}%>
                                  <tr class="color-lastline">
                                    <th scope="row ">Total</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><%=total%>€</td>
                                </tbody>
                            
                    </table>
                    <div class="col-12 d-flex justify-content-end">
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirm</button>
                    </div>
                    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reservation effectuée</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Merci pour votre confiance
      </div>
      <div class="modal-footer">
        <a href="/homepage"> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour à l'accueil</button></a>
        <a href="/last-trips"> <button type="button" class="btn btn-primary">Voir tout mes trips</button></a>
      </div>
    </div>
  </div>            
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="../javascripts/script.js"></script>
</body>